[submodule "rustlings"]
	path = rustlings
	url = https://github.com/mi-skam/rustlings.git
	branch = plumps-progress
[submodule "jugendhackt/ActionCoin"]
	path = jugendhackt/ActionCoin
	url = https://github.com/Jugendhackt/ActionCoin.git
